In [1]:
num1 = int(12.65)
print(num1)

12

In [2]:
print(str(num1))

12

In [ ]:
# CONVERT THIS TO FLOAT AND STRING 45, 85, 90
# CONVERT THIS TO INTEGER AND STRING 45.36, 80.25, 90.36
# CONVERT THIS TO INTEGER AND FLOAT '70', '89.5', '77.88'

In [6]:
num1 = float(45)
num2 = float(85)
num3 = float(90)
print(str(num1))
print(str(num2))
print(str(num3))

45.0
85.0
90.0

In [4]:
#num1 = float(45)
#num2 = float(85)
#num3 = float(90)

12

In [7]:
num1 = int(45.36)
num2 = int(80.25)
num3 = int(90.36)
print(num1, num2, num3)

45 80 90

In [11]:
num1 = int('70')
num2 = int('89')
num3 = int('77')
print(num1, num2, num3)

70 89 77

#### Input function

In [14]:
name = input('please provide your name')

please provide your namesimeon

In [16]:
age = int(input('provide your age'))

provide your age45

In [17]:
age2 = float(input('provide your age:'))

provide your age:45

## OPERATORS

# ARITHMETIC OPERATORS

In [19]:
num1 = int(input('provide the first number:'))
num2 = int(input('provide the second number:'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} **{num2} = {num1 **num2}')

provide the first number:20
provide the first number:10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0
20 % 10 = 0
20 // 10 = 2
20 **10 = 10240000000000

### COMPARISM OPERATORS

In [21]:
num1 = int(input('provide the first number:'))
num2 = int(input('provide the first number:'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1}!= {num2} = {num1 != num2}')

provide the first number:50
provide the first number:25
50 > 25 = True
50 < 25 = False
50 >= 25 = True
50 <= 25 = False
50 == 25 = False
50!= 25 = True

### LOGICAL OPERATOR

In [22]:
num1 = int(input('provide the first number:'))
num2 = int(input('provide the first number:'))
print(f'{num1} > {num2} and {num1} != {num2}= {num1 > num2 and num1 != num2}')
print(f'{num1} > {num2} or {num1} != {num2}= {num1 > num2 or num1 != num2}')

provide the first number:25
provide the first number:78
25 > 78 and 25 != 78= False
25 > 78 or 25 != 78= True

### IDENTITY OPERATOR

In [23]:
num1 = int(input('provide the first number:'))
num2 = int(input('provide the first number:'))
print(num1 is num2)
print(num1 is not num2)

provide the first number:30
provide the first number:30
True
False

### MEMEBERSHIP OPERATOR

In [24]:
course = input('please provide a word')
print('s'in course)
print('t'not in course)

please provide a wordpython
False
False

In [25]:
# JOB BOUGHT N PEN AT THE RATE OF 50 NAIRA EACH AND SOLD THE PEN AT THE RATE OF 100 EACH
# CALCULATE JOB'S PROFIT
quantity = int(input('provide pen quantity:'))
cost = 50 * quantity
selling = 100 * quantity
profit = selling - cost
print(f'job\'s profit on {quantity} pen is {profit}')

provide pen quantity:450
job's profit on 450 pen is 22500

In [1]:
num1 = (31.44)
print(str(num1))

31.44

# CONVERT THIS TO INTEGER AND FLOAT '70', '89.5', '77.88'

In [2]:
num1 = float(70)
num2 = int(89.5)
num3 = int(77.88)
print(num1, num2, num3)

70.0 89 77

In [3]:
name1 = input('please provide your name')
print(name1)

please provide your name ONOCHIE
 ONOCHIE

In [4]:
age = input('please provide your age')
print(age)

please provide your age 45
 45