# Write a program to Reverse the given tuple (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [1]:
Since tuples are immutable, there is no way to reverse a tuple in-place.

SyntaxError: invalid syntax (3840583355.py, line 1)

# Write a program to Access value 58 from the above tuple

In [2]:
numbers =  (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
print(numbers[9])

58

# Write a program to Counts the number of occurrences of item 55 from the above tuple

In [7]:
numbers = (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
print(numbers.count(55))

5

# Write a program to return values 49 and 57 from the above tuple.

In [24]:
numbers = (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
new_numbers = [49, 57]
new_numbers.extend(new_numbers)
print(numbers)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

# Write a program to Reverse the given list [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [12]:
numbers = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
print(numbers.reverse)

<built-in method reverse of list object at 0x0000021F01CD2AC0>

# Write a program to Access value 58 from the above list

In [13]:
numbers = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
print([9])

[9]

# Write a program to Counts the number of occurrences of item 51 from the above list

In [14]:
numbers =  [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
print(numbers.count(51))

2

# Write a program to return values 49 and 57 from the above list.

In [15]:
numbers = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
print(numbers.insert(49, 57))

None

# Write a program to add item 69 after 49 in the following Python List

In [23]:
numbers = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
new_numbers = [69, 49]
numbers.extend(new_numbers)
print(numbers)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 69, 49]

# Write a program to extend [89,85,36,95,45,78] to the above list

In [21]:
numbers =  [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
new_numbers = [89,85,36,95,45,78]
numbers.extend(new_numbers)
print(numbers)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

# Write a Python program to create a new dictionary having 10 football club names as the key with each key holding the following values(location,managersname,clubcaptain,networth,clubformation)

In [1]:
chelsea ={'location': 'standfordbridge', 'managersname': 'Thomas Tuchel', 'clubcaptain': 'Azpilicueta', 'networth': 'thirty eight million', 'clubformation': 1905}
print(chelsea.values())

dict_values(['standfordbridge', 'Thomas Tuchel', 'Azpilicueta', 'thirty eight million', 1905])

In [2]:
chelsea['location']

'standfordbridge'

In [7]:
liverpool ={'location': 'England', 'managersname': 'Jürgen Klopp', 'clubcaptain': 'jordan Henderson', 'networth': 'eleven million', 'clubformation': 1892}
print(liverpool.values())

dict_values(['England', 'Jürgen Klopp', 'jordan Henderson', 'eleven million', 1892])

In [8]:
Benfica ={'location': 'Lisbon, Portugal', 'managersname': 'Roger Schmidt', 'clubcaptain': 'Gilberto2', 'networth': 'five million', 'clubformation': 1904}
print(Benfica.values())

dict_values(['Lisbon, Portugal', 'Roger Schmidt', 'Gilberto2', 'five million', 1904])

In [9]:
RealMadrid ={'location': 'Santiago Bernabéu', 'managersname': 'Carlo Ancelotti', 'clubcaptain': 'Sanchis', 'networth': 'twenty million', 'clubformation': 1902}
print(RealMadrid.values())

dict_values(['Santiago Bernabéu', 'Carlo Ancelotti', 'Sanchis', 'twenty million', 1902])

In [12]:
ACMilan ={'location': 'Italy', 'manager name': 'Stefano Pioli', 'clubcaptain': 'Alesio Romagnoli', 'networth': 'five hundred and thirty eight million', 'clubformation': 1899}
print(ACMilan.values())

dict_values(['Italy', 'Stefano Pioli', 'Alesio Romagnoli', 'five hundred and thirty eight million', 1899])

In [14]:
InterMilan ={'location': 'Lombardy', 'manager name': 'Simone Inzaghi', 'clubcaptain': 'Samir Handanovic', 'networth': 'six hundred and eigteen million', 'clubformation': 1908}
print(InterMilan.values())

dict_values(['Lombardy', 'Simone Inzaghi', 'Samir Handanovic', 'six hundred and eigteen million', 1908])

In [15]:
ManchesterCity ={'location': 'England', 'manager name': 'PepGuardiola', 'clubcaptain': 'Ilkay Gundogan', 'networth': 'twenty six billion', 'clubformation': 1880}
print(ManchesterCity.values())

dict_values(['England', 'PepGuardiola', 'Ilkay Gundogan', 'twenty six billion', 1880])

In [16]:
FCPorto ={'location': 'Porto', 'manager name': 'Sérgio Conceição', 'clubcaptain': 'António Oliveira', 'networth': 'seventy four thousand', 'clubformation': 1893}
print(FCPorto.values())

dict_values(['Porto', 'Sérgio Conceição', 'António Oliveira', 'seventy four thousand', 1893])

In [17]:
FCBarcelona ={'location': 'Catalana', 'manager name': 'Xavi', 'clubcaptain': 'Sergio Busquets', 'networth': 'four billion', 'clubformation': 1899}
print(FCBarcelona.values())

dict_values(['Catalana', 'Xavi', 'Sergio Busquets', 'four billion', 1899])

In [18]:
TottenhamHotspur ={'location': 'London', 'manager name': 'Antonio Conte', 'clubcaptain': '	Lloris, Hugo', 'networth': '1.67 billion', 'clubformation': 1882}
print(TottenhamHotspur.values())

dict_values(['London', 'Antonio Conte', '\tLloris, Hugo', '1.67 billion', 1882])