In [1]:
num_string = '12'
num_integer = 23
print("Data type of num_string before Type Casting:",type(num_string))
# explicit type conversion
num_string = int(num_string)
print("Data type of num_string after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

# Implicit type conversion

# Converting integer to float

In [2]:
integer_number = 123
float_number = 1.24
new_number = integer_number + float_number
# display new value and resulting data type
print('value:',new_number)
print('data type:',type(new_number))

value: 124.24
data type: <class 'float'>

In [3]:
integer_number = 234
float_number = 67.9
new_number = integer_number + float_number
# display new value
print('value:',new_number)

value: 301.9

# display number 458 In float using print()

In [4]:
number = float(458)
print(number)

458.0

# Addition of string and integer using Explicit conversion

In [6]:
num_string = '76'
num_integer = 80
print('Data type of num_string before type casting:',type(num_string))
# explicit type conversion
num_string = int(num_string)
print('Data type of num_string after type casting:',type(num_string))
num_sum = num_integer + num_string
print('sum:',(num_sum))
print('Data type of num_sum:', type(num_sum))

Data type of num_string before type casting: <class 'str'>
Data type of num_string after type casting: <class 'int'>
sum: 156
Data type of num_sum: <class 'int'>

In [7]:
num_string = '80'
num_integer = 86
num_string = int(num_string)
num_sum = num_integer + num_string
print('sum:',(num_sum))

sum: 166

In [8]:
# CONVERT THIS TO FLOAT AND STRING 45, 85, 90
# CONVERT THIS TO INTEGER AND STRING 45.36, 80.25, 90.36
# CONVERT THIS TO INTEGER AND FLOAT '70', '89.5', '77.88'

# FLOAT

In [10]:
num1 = float(45)

In [11]:
num2 = float(85)
num3 = float(90)
print(num1)

45.0

In [13]:
print(num2)

85.0

In [14]:
print(num3)

90.0

# string

In [16]:
num1 = str('45')
num2 = str('85')
num3 = str('90')
print(num1, num2, num3)

45 85 90

# Integer

In [17]:
num1 = int(45.36)
print(num1)

45